@import '../../../../../libs/ui/src/lib/scss/src/ui.styles.scss';

:host {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background-color: $color-moonstone-lighten;
}

.oceanic-main-layout {
  section {
    padding: 1rem;
  }
}
